<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<div></div>
<ion-content padding>
<app-about></app-about>
</ion-content>
<!-- 
    <ion-badge color="primary">11</ion-badge>
    <div>
        <ion-checkbox color="primary" checked></ion-checkbox>
        <ion-checkbox color="secondary"></ion-checkbox>
        <ion-checkbox color="danger" checked></ion-checkbox>
        <ion-checkbox color="light"></ion-checkbox>
        <ion-checkbox color="dark" checked></ion-checkbox>
    </div>

    <app-about></app-about>
  <ion-button shape="round" color="primary" fill="outline">Hello World</ion-button>
  <ion-button size="small">Small Button</ion-button>

  <ion-card>
      <ion-img src="/assets/myImg.png"></ion-img>
      <ion-card-header>
          <ion-card-title>Hello World</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <p>The content for this card</p>
      </ion-card-content>
  </ion-card>
 
  The world is your oyster.
  <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs">docs</a> will be your guide.</p>
</ion-content>
 -->
